WITH entity_sentences AS (select DISTINCT e2.sentence_aid, e2.surface
                          FROM text_annotations_mapped e1
                                   INNER JOIN text_annotations e2 on e1.sentence_aid = e2.sentence_aid
                          WHERE e1.text = ?
                            and e1.path = ?
                            and e2.type = 'sentence')
SELECT a1.text                                        as text,
       a2.surface                                     as sentence,
       name                                           as value,
       json_extract(metadata, '$.A0_TEXT')::VARCHAR[] as A0,
       json_extract(metadata, '$.A1_TEXT')::VARCHAR[] as A1,
       metadata ->> 'TIME_TEXT'                       as TIME,
       metadata ->> 'LOC_TEXT'                        as LOC
FROM text_annotations_mapped a1
         INNER JOIN entity_sentences a2 on a1.sentence_aid = a2.sentence_aid
WHERE EXISTS (SELECT 1
              FROM UNNEST(json_extract(metadata, '$.A0_TEXT')::VARCHAR[]) AS t(tag)
              WHERE UPPER(t.tag) = ?)
   or EXISTS (SELECT 1
              FROM UNNEST(json_extract(metadata, '$.A1_TEXT')::VARCHAR[]) AS t(tag)
              WHERE UPPER(t.tag) = ?)
   or UPPER(metadata ->> 'TIME_TEXT') = ?
   or UPPER(metadata ->> 'LOC_TEXT') = ?