{% import 'macros.sql' as macros %}

WITH topic_subset AS (SELECT sentence_aid
                      FROM pg_db.topic_sentences
                      WHERE topic_id = ?
                      ORDER BY similarity DESC
                      LIMIT ?),
     target_entities AS (SELECT sentence_aid,
                                text as entity_text,
                                name as entity_type
                         FROM text_annotations_mapped
                         WHERE {{ macros.match_paths('path', mapping_list) }})
SELECT t.entity_text as entity,
       t.entity_type as type,
       COUNT(*)      as count
FROM topic_subset s
         JOIN target_entities t ON s.sentence_aid = t.sentence_aid
GROUP BY t.entity_text, t.entity_type
HAVING COUNT(*) >= 2
ORDER BY count DESC, entity;